**/.DS_Store
**/.venv/
**/__pycache__
**/*.egg-info

**/logs
*.log 

**/.pytest_cache

**/.idea

**/.envrc
**/.envrc.local
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local